*{
  color: white;
}

body{
  min-height: 297mm;
}

header{
  position: relative;
  background-color: #226DDE;
  padding: 20pt 30pt;
}

h1{
  font-size: 16pt;
  letter-spacing: 0.5pt;
  font-weight: 200;
}

.page{
  font-size: 10pt;
  font-weight: 100;
  letter-spacing: 1pt;
  opacity: 0.7;
  margin-top: 12pt;
}

h2{
  font-size: 18pt;
  letter-spacing: 1pt;
  font-weight: 800;
  margin-top: 4pt;
}

.avatar{
  position: absolute;
  bottom: -60px;
  right: 50px;
}

.avatar figcaption{
  text-align: center;
  font-weight: 300;
  font-size: 12pt;
  margin-bottom: 10px;
  letter-spacing: 1pt;
}

.avatar img{
  width: 150px;
  height: 150px;
  border-radius: 500px;
}

nav{
  margin: 20px 30px;
}

nav span{
  color: #226DDE;
  font-size: 10pt;
  font-weight: 600;
}

nav a{
  color: #226DDE;
  font-size: 10pt;
  font-weight: 600;
  letter-spacing: 1pt;
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 20px 100px 0 100px;
}

.message{
  font-size: 13pt;
  font-weight: 200;
  line-height: 18pt;
  letter-spacing: 1pt;
  padding: 10px 20px;
  max-width: 80%;
  margin: 15px 0;
}

.message_left{
  background-color: #226DDE;
  border-radius: 30px 30px 30px 0;
}

.message_right{
  background-color: green;
  border-radius: 30px 30px 0 30px;
  align-self: flex-end;
}

main figure{
  max-width: 80%;
  margin: 15px 0;
  position: relative;
}

main figcaption{
  width: 100%;
  font-size: 12pt;
  font-weight: 800;
  letter-spacing: 0.5pt;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0 20px 10px 20px;
}

.img{
  display: block;
  width: 100%;
  height: 100%;
}

.gradient{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.25) 50%);
  opacity: 1;
  border-radius: 30px 30px 30px 0;

}

.emoji{
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}

.contents{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.contents li{
  color: #226DDE;
  list-style: none;
  font-weight: 400;
  font-size: 16pt;
  line-height: 40pt;
}

.pages{
  margin-left: 30px;
}

.contents a{
  color: #226DDE;
}

.contents a:visited{
  color: #226DDE;
}
