@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Ultralight.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Thin.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Heavy.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'SF';
  src: url('SF-Pro-Display-Black.otf');
  font-weight: 900;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html{
  background-color: white;
}

body{
  width: 210mm;
  margin: 0 auto;
  font-family: 'SF';
  font-size: 16pt;
}
